* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

header{
    background-color: orange;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
}

.nav_bar{
    width: 900px;
    display: flex;
    justify-content: center;
}

.nav_bar_menu{
    display: flex;
    gap: 15px;
}

.logo{
    height: 30px;
    margin: 15px 0;
}

.selettore_genere{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.selettore_genere_link{
    color: white;
    display: flex;
    justify-content: flex-start;
}
.col{
    display: flex;
    gap: 50px;
}

.scheda_prodotto{
}

.immagine_prodotto{
    background-color: grey;
    height: 450px;
    width: 350px;
}

.descrizione_prodotto{
    background-color: red;
    height: 150px;
    width: 350px;
}

.nav_bar_footer{
    width: 900px;
    display: flex;
    justify-content: center;
}

.selettore_footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titoletti_footer{
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}
